<meta property="og:url" content="https://kritiimages.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kriti/ Images" />
<meta
    property="og:description"
    content="Transform & Optimise Images at Scale"
/>
<meta
    property="og:image"
    content="https://kriti.directory/assets/images/og/og_image.png"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="kriti.directory" />
<meta property="twitter:url" content="https://kritiimages.com" />
<meta name="twitter:title" content="Kriti/ Images" />
<meta
    name="twitter:description"
    content="Transform & Optimise Images at Scale"
/>
<meta
    name="twitter:image"
    content="https://kriti.directory/assets/images/og/og_image.png"
/>
