baseURL = 'https://kritiimages.com/'
languageCode = 'en-us'
title = 'Kriti/ Images'
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'
