<footer class="w-full min-h-[100px] bg-blue-700">
    <hr class="zig-zag-line"></hr>
    <div
        class="w-3/4 w-max-[1080px] max-lg:w-[96%] mx-auto px-8 max-lg:px-4 py-12 text-slate-50 border-x border-x-blue-600/70 grid grid-cols-3 max-sm:grid-cols-1 gap-12 justify-between items-start"
    >
        <section class="h-full">
            <h3 class="text-3xl">
                <span style="font-family: Lora;">Kriti/</span> Directory
            </h3>
            <p class="mt-4 text-xs">No code directory builder</p>
        </section>
        <section class="h-full px-4 flex flex-col gap-2 text-sm border-l border-l-blue-600/70 max-sm:border-l-0 text-slate-100/70">
            <h3 class="text-lg mb-4">Resources</h3>
            <p><a href="/#pricing" class="hover:italic">Pricing</a></p>
            <p><a href="/docs" class="hover:italic">Documentation</a></p>
            <p><a href="/changelogs" class="hover:italic">Changelogs</a></p>
            <p><a href="/legal/privacy-policy" target="_blank" class="hover:italic">Privacy Policy</a></p>
            <p><a href="/legal/terms-of-service" target="_blank" class="hover:italic">Terms of Service</a></p>
            <p><a href="/legal/refund-policy" target="_blank" class="hover:italic">Refund Policy</a></p>
        </section>
        <section class="h-full px-4 flex flex-col gap-2 text-sm border-l border-l-blue-600/70 max-sm:border-l-0 text-slate-100/70">
            <h3 class="text-lg mb-4">Contact</h3>
            <a href="mailto:vinay.gaykar+kriti_dir@proton.me" class="hover:italic">Email</a>
            <a href="https://x.com/vinay_gaykar" class="hover:italic">X (twitter)</a>
        </section>
    </div>
</footer>
