{{ $page1 := dict
  "kind" "page"
  "path" "jpeg"
  "title" "Compress JPEGs"
}}
{{ $page2 := dict
  "kind" "page"
  "path" "png"
  "title" "Compress PNGs"
}}
{{ $page3 := dict
  "kind" "page"
  "path" "webp"
  "title" "Compress WebPs"
}}
{{ .AddPage $page1 }}
{{ .AddPage $page2 }}
{{ .AddPage $page3 }}
