:root {
    --kriti-primary-color: #eee;
    --kriti-secondary-color: black;
}

body {
    font-family: "Inter", serif;
}
h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 48px 0;

    & + p {
        margin-bottom: 48px;
    }
}
h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    margin: 24px 0;
}
h3 {
    margin: 12px 0;
}

header {
    padding: 12px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
main,
header {
    width: 50%;
    max-width: 960px;
    margin: 0 auto;
}

section {
    padding: 1rem 0;
    margin: 5rem 0;

    & h2 {
        margin: 24px 0;

        & + p {
            margin: 0 0 48px 0;
        }
    }
}
article {
    & h2 {
        border-bottom: 1px solid lightgray;
    }
}

ul {
    list-style: disc outside;
    padding: 0;
}
menu {
    list-style: decimal-leading-zero;
}
li article {
    margin: 12px 0 48px;
}

a {
    &:hover {
        font-style: italic;
    }
}
button,
a.btn-like {
    border: none;
    background: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: #bbb;
        font-style: normal;
    }
}
button.primary {
    background-color: cornflowerblue;

    &:hover {
        background-color: #4a86f0;
    }
}

img {
    border-radius: 8px;
    margin: 24px 0;
    width: 100%;
}

figure {
    margin: 24px 0;
    & img {
    }
}

video {
    margin: 24px 0;
    border-radius: 8px;
}

@media (width < 1024px) {
    main,
    nav {
        width: 80%;
    }

    section {
        margin: 2rem 24px;
    }
}
@media (width < 768px) {
    main,
    nav {
        width: 80%;
        max-width: 100%;
    }
}

footer {
    min-height: 50vh;
    padding: 48px 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;

    & section {
        margin: 1rem 24px;
    }

    & ul {
        list-style: none;
    }
}
@media (width < 1024px) {
    footer {
        min-height: fit-content;
        gap: 48px;
        gap: 48px;

        & > section:first-child {
            order: 3;
            flex: 1 0 100%;
        }

        & > section {
            margin: 0;
            padding: 0;
        }
    }
}
@media (width < 768px) {
    footer {
        padding: 12px;
        flex-flow: column-reverse;
    }
}
