body {
    @apply text-base text-slate-900;
}

h1 {
    @apply text-5xl max-sm:text-3xl text-balance text-blue-600;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

ul {
    @apply list-disc list-inside;

    & > li > p {
        @apply inline;
    }
}

ol {
    @apply list-decimal list-inside;

    & > li > p {
        @apply inline;
    }
}

code,
kbd,
pre {
    @apply p-[2px] bg-blue-100/40;
    @apply text-sm font-mono;
    @apply border border-blue-500/40 rounded-sm;
}

#content {
    @apply leading-7;

    h2 {
        @apply mt-6 mb-4 pb-2;
        @apply border-b border-b-stone-400/20;
    }

    h3 {
        @apply my-4;
    }

    a {
        @apply text-blue-800;
        @apply underline underline-offset-4 decoration-wavy;

        &:hover {
            @apply italic;
        }
    }

    li {
        @apply my-6;
    }
}

#TableOfContents {
    ul {
        list-style: decimal-leading-zero inside;

        li {
            @apply text-sm text-slate-500 m-4;
            animation: slideUp 0.3s ease-out 1 both;

            &:hover {
                @apply text-slate-800;
            }
        }

        a {
            text-decoration: none;
        }
    }
}

#breadcrumbs {
    @apply text-xs text-blue-500 uppercase;
    @apply my-2 flex gap-1;
    @apply list-["/__"] list-inside;

    li {
        @apply my-0 p-1 rounded-sm;
        @apply hover:bg-blue-300/20;
    }

    li.breadcrumb-curr {
        @apply hover:bg-transparent;
    }

    li::marker {
        @apply px-2;
    }

    a {
        text-decoration: none;
    }
}

#section-links {
    ul {
        @apply text-sm text-slate-700;
        @apply list-none;

        li {
            @apply my-1;
            @apply rounded-md;
        }
    }
}

footer {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {
        @apply text-slate-300;
    }
}

@keyframes slideUp {
    from {
        transform: translate3d(0, 40px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
